.Cell {
  border: 1px solid #000;
  cursor: pointer;
  display: flex;
  height: 40px;
  position: relative;
  width: 40px;
  margin-bottom: var(--gap-size);
  transition: transform 0.3s ease;
  justify-content: center;
  align-items: center;
}

.Cell:nth-child(3n) {
  border-bottom: calc(var(--gap-size) * 2) solid #000;
  margin-bottom: 0;
}

.Cell:last-child() {
  border-bottom: 0;
  margin-bottom: var(--gap-size);
}

.Cell.selected {
  background-color: #c5c5ff;
  transform: scale(1.2);
  z-index: 10;
}
